@import '@public/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 1em;
  font-size: $font-lg;
}

.icon-go-back {
  height: 0.8em;
}
.nav-item {
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: var(--yellow-primary);
  font-size: 1em;

  &:hover {
    color: #d59b1b;
  }
}

.indicator-header {
  margin: 1em 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    width: 32px;
    margin: 0 0.2em 0 1em;
  }

  .circle {
    margin: 0 1em;
  }

  .text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;

    p {
      margin: 0;
    }
  }

  .text-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: fit-content;

    h5 {
      margin: 0;
    }
  }
}
