<a class="nav-item nav-link go-back" [routerLinkActive]="['active']" routerLink="/dashboard/"> <i class="icon-go-back"></i> Dashboard </a>

<h2>{{ returnListName(indicatorType, 'header') }}</h2>

<div class="row col indicator-header">
  <div class="text-left">
    <div *ngIf="!criteria_loading" [innerHTML]="criteriaData.qa_criteria"></div>
    <div class="open-url-button">
      <a
        href="https://app.powerbi.com/groups/me/reports/e05a0bc9-72d2-43b6-9cbc-67be84d42cda/4042c31b33970f27f09f?ctid=6afa0e00-fa14-40b7-8a2e-22a7f8c357d5&experience=power-bi&clientSideAuth=0"
        target="_blank"
        rel="noopener noreferrer"
        >Quality Assurance AI Helper</a
      >
    </div>
  </div>
  <div class="text-right">
    <div *ngIf="indicatorType == 'publications'" class="circle autochecked" style="margin-left: 50px"></div>
    <i *ngIf="indicatorType == 'knowledge_product'" class="icon-autochecked"></i>
    <p *ngIf="indicatorType == 'knowledge_product'">Automatically validated</p>

    <i class="icon-pending"></i>
    <p>Pending</p>

    <i class="icon-quality-assessed"></i>
    <p>Quality Assessed</p>
  </div>
</div>

<app-results-table
  (generateExcel)="exportComments($event)"
  [resulList]="evaluationList"
  [returnedArray]="returnedArray"
  [indicatorType]="indicatorType"
  [currentUser]="currentUser"
  [submissionDates]="submission_dates"></app-results-table>
