<app-timeline></app-timeline>
<div class="asesor-dashboard row col col-xl-12">
  <div class="row col col-xl-12 icons-header">
    <h4>Progress on Quality Assessment</h4>
    <div class="text-left">
      <!-- <button class="css-button-3d--sand" (click)="goToPDF('AR')">
        <span class="material-icons-round icon">description</span>Technical report guidance
      </button> -->
      <button class="css-button-3d--sand" (click)="goToPDF('ASSESSORS_GUIDANCE')">
        <span class="material-icons-round icon">description</span>2024 Assessor Guidance
      </button>
    </div>
    <button type="button" class="btn btn-success" (click)="downloadRawComments()">Download comments and assessment status</button>
  </div>
  <div class="dashboard-container row w-100">
    <div class="card-body dashboard-container-charts col" [ngClass]="{ 'col-sm-12': currentUser.cycle.cycle_stage == '1' }">
      <div class="w-100 dashboard-header mb-2">
        <div class="h-100 title">Dashboard {{ getIndicatorName(selectedIndicator) }}</div>

        <div class="w-100">
          <label for="indicator">Indicator</label>
          <p-dropdown
            [style]="{ width: '100%', backgroundColor: 'white' }"
            [options]="this.indicatorsNameDropdwon"
            [(ngModel)]="selectedIndicator"
            optionLabel="name"
            [placeholder]="getIndicatorName(selectedIndicator)"
            (ngModelChange)="actualIndicator($event)" />

          @if (this.istpbUser()) {
            <!-- <div></div> -->
            <label for="actionArea">Action Area</label>
            <p-dropdown
              [style]="{ width: '100%', backgroundColor: 'white' }"
              [options]="this.actionAreaList()"
              [(ngModel)]="selectedActionArea"
              optionLabel="action_area"
              placeholder="Select Action Area"
              (ngModelChange)="changeActionArea($event)" />
          }
        </div>
      </div>
      <div *ngIf="isDataNull" class="no-data-container">
        <div class="no-data-message">No results available at the moment.</div>
      </div>
      <div *ngIf="dashboardData && (dashboardData | json) != ({} | json) && !isDataNull" class="w-100">
        @if (
          (this.dataCharts.generalStatus ||
            this.dataCharts.assessorsInteractions ||
            this.dataCharts.responseToComments ||
            this.dataCharts.assessmentByField ||
            this.dataCharts.highlitedPendingComments) &&
          !isDataNull
        ) {
          <app-dashboard [dataCharts]="this.dataCharts" [cycle_stage]="currentUser.cycle.cycle_stage"></app-dashboard>
        }
      </div>
      <div class="no-data" *ngIf="(dashboardData | json) == ({} | json)">
        You don't have any indicator assingned. Please contact your Administrator.
      </div>
    </div>
    <div class="card-body feed col col-sm-3" *ngIf="currentUser.cycle.cycle_stage == '2'"></div>
  </div>
</div>
<ng-template #chartD style="max-width: 1800px">
  <div class="options-modal">
    <!-- <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-content modal-lg">
    <div class="chart-modal-container" *ngIf="dataCharts.assessmentByField">
      <!-- <app-line-chart [indicatorName]="selectedIndicator" [total]="dataSelected.total" [data]="dataCharts.assessmentByField" [isModal]="true"></app-line-chart> -->
    </div>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="default" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">Loading...</p>
</ngx-spinner>
