<a class="nav-item nav-link go-back" [routerLinkActive]="['active']" routerLink="/crp/dashboard/"> <i class="icon-go-back"></i> Dashboard </a>

<div class="row">
  <div class="col-12">
    <div>
      <h2>{{ returnListName(indicatorType, 'header') }}</h2>
      <h4 style="text-align: center" *ngIf="currentUser.hasOwnProperty('cycle') && !currentUser.hasOwnProperty('cycle_ended')">
        {{ currentUser.cycle.cycle_stage > 1 ? 'QA Round' + ': ' + currentUser.cycle.cycle_stage : '' }}
      </h4>
      <app-results-table [resulList]="this.evaluationList"></app-results-table>
    </div>
  </div>
</div>
