@import '@public/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 1em;
  font-size: $font-lg;
}

.icon-go-back {
  height: 0.8em;
}
.nav-item {
  padding-top: 0;
  margin-bottom: 2em;
  text-transform: capitalize;
}

.go-back {
  font-weight: 600;
  color: #f1b83b;
  font-size: 1rem;

  &:hover {
    color: #d59b1b;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .actions_buttons {
    display: flex;
    gap: 1rem;

    .actions_buttons-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.5rem;
      background-color: #e1dddd;
      border: #e1dddd;
      color: #212529;
      font-size: 16px;

      &:hover {
        background-color: #adadad;
      }
    }
  }

  .actions_info {
    display: flex;
    align-items: center;
    gap: 1em;
  }
}

.icon-32 {
  width: 32px;
  height: 32px;
}
.icon-22 {
  width: 22px;
  height: 22px;
}
