<div class="timeline-container animate__fadeInDown" *ngIf="batches">
  <!-- <p>timeline works!</p>
    <div>{{batches[1].startDateAssessors}}</div> -->
  <header>
    <h1>QA INNOVATION USE (IPSR) 2023 - TIMELINE</h1>
    <h3>
      Annual Report data submission:
      <strong>{{ batches[2].submission_date | date : "mediumDate" }}</strong>
    </h3>
  </header>
  <div class="line">
    <div class="event" [ngClass]="{
        during: timelineState === 'during',
        before: timelineState === 'before',
        after: timelineState === 'after'
      }">
      <div class="info-event shadow-sm mb-5 bg-white rounded">
        <div class="date">
          {{ batches[2].assessors_start_date | date : "MMM d, yyyy" }} - 00:00
          CET <br />
          {{ batches[2].assessors_end_date | date : "MMM d, yyyy" }} - 23:59 CET
          <br />
        </div>
        <p>QA Platform opens for assessors</p>
        <p>QA Platform closes for assessors</p>
      </div>
    </div>
    <div class="event">
      <div class="info-event shadow-sm mb-5 bg-white rounded">
        <div class="date">
          {{ batches[2].idts_start_date | date : "MMM d, yyyy" }} - 00:00 CET
          <br />
          {{ batches[2].idts_end_date | date : "MMM d, yyyy" }} - 23:59 CET
          <br />
        </div>
        <p>QA Platform opens for IDT’s</p>
        <p>QA Platform closes for IDT’s</p>
      </div>
    </div>
    <div class="event">
      <div class="info-event shadow-sm mb-5 bg-white rounded">
        <div class="date">
          {{ batches[2].lead_assesor_start_date | date : "MMM d, yyyy" }} -
          00:00 CET <br />
          {{ batches[2].lead_assesor_end_date | date : "MMM d, yyyy" }} - 23:59
          CET
          <br />
        </div>
        <p>QA Platform opens for Lead assessor</p>
        <p>QA Platform closes for Lead assessor</p>
      </div>
    </div>
    <div class="event">
      <div class="info-event shadow-sm mb-5 bg-white rounded">
        <div class="date">
          {{ batches[2].tpb_start_date | date : "MMM d, yyyy" }} - 00:00 CET
          <br />
          {{ batches[2].tpb_end_date | date : "MMM d, yyyy" }} - 23:59 CET
          <br />
        </div>
        <p>QA Platform opens for TP-Broker</p>
        <p>QA Platform closes for TP-Broker</p>
      </div>
    </div>
    <div class="event">
      <div class="info-event shadow-sm mb-5 bg-white rounded">
        <div class="date">
          {{ batches[2].ppu_start_date | date : "MMM d, yyyy" }} - 00:00 CET
        </div>
        <p>QA Platform opens for PPU</p>
      </div>
    </div>
  </div>
</div>
<!-- <footer class="shadow-sm mb-5 bg-white rounded">
    <div class="next-batch">
        <p *ngIf="batches"><strong>Next batch: </strong>{{batches[2].submission_date | date: 'mediumDate'}}</p>
    </div>
</footer> -->