// primary font
$primary_font: 'Poppins';
// secondary font
$secondary_font: 'Poppins';
// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 20px;
$font-lg: 35px;
// icon
$icon-sm: 20px;
$icon-md: 30px;
$icon-lg: 50px;
// sizes (icons, progress bar..)
$size-sm: 10px;
$size-md: 20px;
$size-25: 25px;
$size-lg: 30px;
$badge-blue: #43bccd;
